*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}

body{
    width:100%;
    height: 100vh;
    background-image: url("../img/bg-img.jpg");
    background-size: cover;
    backdrop-filter: blur(2px);    
}

.container{
    width: 40%;
    height: auto;
    margin: auto;
    background-color:#fff;
    margin-top:30px;
    border-radius: 30px;
}

.labels, .inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
}

label{
    font-size: 20px;
    font-weight: 400;
}

.option-items{
    width: 70px;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    background-color: rgba(172, 167, 167, 0.729);
    color: black;
}

.inputs input[type = 'number']{
    border: none;
    font-size: 20px;
    background-color: rgba(172, 167, 167, 0.729);
    border-radius: 8px;
}

.swap-btn{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: auto;
    height: 60px;
    margin-top: 15px;
    width: 110px;
    padding: 25px;
    font-size: 1.5rem;
    background-color: rgba(6, 6, 98, 0.92);
    color: #fff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.covert-btn{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: auto;
    height: 40px;
    margin-top: 15px;
    width: 21%;
    padding: 3rem;
    font-size: 1.5rem;
    background-color: rgba(6, 6, 98, 0.92);
    color: #fff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.covert-btn:hover{
    transform: scale(1.2);
    transition: all ease-in-out 1s;
}